<launch>
  <arg name="robot_name" default="mantis"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="false" />
    <arg name="headless" value="false"/>
    <arg name="world_name" value="$(find mantis_ddqn_navigation)/worlds/maze2.world"/>
    <arg name="verbose" value="false"/>
  </include>

  <include file="$(find mantis_gazebo)/launch/include/robot_spawner.launch.xml" />

  <include file="$(find mantis_control)/launch/mantis_controller_gazebo.launch" />

</launch>
